<h1><%= @user.username %>'s Friends</h1>

<ul>
  <h1>Friends</h1>
  <% @friends.each do |f| %>
    <%= link_to f.username, f %>
  <% end %>
</ul>

<% if @friends_pending %>
  <ul>
    <h1>Waiting for confirmation</h1>
    <% @friends_pending.each do |f| %>
      <%= link_to f.username, f %>
    <% end %>
  </ul>
<% end %>

<% if @friends_to_confirm %>
  <ul>
    <h1>Friend Requests</h1>
    <% @friends_to_confirm.each do |f| %>
      <%= link_to f.username, f %>
    <% end %>
  </ul>
<% end %>