<h1><%= @user.username %>'s profile</h1>

<h2>Posts</h2>
<% @user.posts.each do |post| %>
  <div>
    <strong><%= @user.username %></strong>
    <p>
      <%= post.body %>
    </p>
  </div>
  <br />
<% end %>