<% if user_signed_in? && current_user == object.author || current_user == object.owner || current_user.admin? %>
  <div class="dropdown advanced-actions">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
    <span class="glyphicon glyphicon-option-horizontal"></span></a>
    <ul class="dropdown-menu">
      <% if current_user == object.author %>
        <li><%= link_to "Edit", send("edit_#{type}_path", object), remote: true %></li>
      <% end %>
      <li><%= link_to "Delete", send("#{type}_path", object), method: :delete, remote: true, data: { confirm: "Are you sure?" } %></li>
    </ul>
  </div>
<% end %>