<footer class="footer navbar navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><%= link_to icon("fab", "github", class: "fa-lg") << " Github Repo", "https://github.com/nmacawile/facebook-on-rails", target: "_blank" %></li>
      <li><%= link_to icon("fas", "external-link-alt", class: "fa-lg") << " Project Page", "https://www.theodinproject.com/courses/ruby-on-rails/lessons/final-project", target: "_blank" %></li>
    </ul>
  </div>
</footer>