<div class="col-md-6">
  <% unless title.blank? %>
    <h2><%= title %></h2>
  <% end %>
  <ul class="user-cards">
    <% collection.each do |user| %>
      <li class="user-card">
        <a href="#" style="float: right" class="btn btn-default"><%= icon("fas", "plus") %> Add as Friend</a>
        <div class="user-card-avatar"><img src="http://via.placeholder.com/50x50"></div>
        <span class="user-card-name"><strong><%= link_to user.full_name, user %></strong><br />
        <%= "@#{user.username}" %></span>
      </li>
    <% end %>
  </ul>
</div>
    