<div class="container">
  <div class="col-md-6">
    <%= image_tag asset_path('play-stone-network-networked-interactive-163064.jpg'), class: "img-responsive" %>
  </div>
  
  <%= render "shared/sign_up_form" %>
</div>