<div class="container">
  <div class="row">
    <div class="col-md-3 home-panel">
        
      <div class="home-avatar"><img src="http://via.placeholder.com/150x150"></div>
      
      <div class="home-panel-controls">
          <h4><%= @user.full_name %></h4>
          <h5>@<%= @user.username %></h5>
         <ul>
           <li>
               Change Avatar
           </li>
           <li>
               Edit Profile
           </li>
           <li>
               Friend Requests
           </li>
           <li>
               Friend Requests Sent
           </li>
           <li>
               Account Settings
           </li>
           <li>
               Log Out
           </li>
         </ul>
      </div>
    </div>
    
    <%= render "users/posts/posts" %>
  </div>
</div>