@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

body {
  background-color: rgb(230, 230, 230);
  font-family: 'Montserrat', sans-serif;
}

.navbar-brand {
  font-weight: bold;
}

.active {
  font-weight: bold;
  border-bottom: 4px solid #777777;
}

.alert {
  margin-bottom: 0;
}

.search-bar {
  input, button {
    border-radius: 34px;
  }
  
  input {
    border-right: 0;
  }
  button {
    border-left: 0;
  }
}

.banner-nav li{
  display: inline-block;
}
.home-panel {
  padding: 20px 0 100px 30px;
  margin: 10px 0 10px 10px;
  word-wrap: break-word;
}

.home-avatar {
  border: 4px solid white;
  background-color: white;
  display: block;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  overflow: hidden;
}

.home-panel-controls {
  ul {
    padding-left: 0;
  }
  li {
    list-style: none;
  }
}

.banner {
  overflow: hidden;
  text-align: center;
  img {
    max-width: 100%;
  }
}

.profile-nav {
}

.avatar-container {
  height: 50px;
  padding: 0;
}

.avatar-main {
  position: absolute;
  border-radius: 200px;
  overflow: hidden;
  border: 6px solid white;
  bottom: -30px;
  background-color: white;
  z-index: 3;
}

.posts-container {
}

.posts {
  list-style: none;
  padding: 0;
}

.post, .next_page {
  width: 662px;
}

.post {
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
  background-color: white;
  margin: 10px 0;
  padding: 10px;
  .post-photo { 
    margin: 5px 0;
  }
}

.comments {
  list-style: none;
  margin-left: 15px;
  margin-top: 10px;
  padding-left: 0;
}

.comment {
  min-height: 54px;
}

.comment-avatar {
  float: left;
  border-radius: 32px;
  overflow: hidden;
}

.comment-body {
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
  padding: 6px;
  min-height: 32px;
  word-wrap: break-word;
}

.comment-wrapper {
  padding: 0;
  min-height: 32px;
  word-wrap: break-word;
  margin: 5px 0 5px 40px;
}

.comment-form {
  border-radius: 10px;
  min-height: 32px;
  input[type=text] {
    border-radius: 10px;
  }
}

.comment-interactions {
  margin: 2px 5px 8px;
  min-height: 20px;
  .comment-btn-like {
    font-size: 12px;
  }
}

.comment-timestamp {
  float: right;
  color: #657786;
}

.comment-btn {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.post-text-area {
  resize: vertical;
  min-height: 100px !important;
}

.advanced-actions {
  float: right;
  top: 0;
  position:relative;
}

.post-interactions {
  margin: 2px 0;
  .post-btn-like {
    padding: 2px 5px;
    font-size: 13px
  }
}

.post-user-link {
  color: #657786;
}

.timestamp {
  color: #657786;
  &:before {
    content: "\00b7";
  }
}

.post-content {
  display: block;
  min-height: 40px;
  word-wrap: break-word;
  margin-left: 60px;
  .post-actions {
    display: block;
  }
}

.post-body {
}

.post-avatar {
  border: 2px solid white;
  border-radius: 50px;
  overflow: hidden;
  height: 50px;
  width: 50px;
  float: left;
  margin-right: 10px;
  margin-top: 0;
}


.user-cards {
  list-style: none;
  padding: 0;
  li.user-card {
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);
    background-color: white;
    margin: 10px 0;
    padding: 20px;
  }
}

.user-card-avatar {
  border: 2px solid white;
  border-radius: 50px;
  overflow: hidden;
  height: 50px;
  width: 50px;
  float: left;
  margin-top: -5px;
  margin-right: 10px;
}


.user-card-name {
  display: block;
  color: #657786;
}

.friend-btn-container {
  float: right;
}

.btn-long {
  width: 186px;
  border-radius: 32px;
}


.btn-short {
  width: 93px;
  border-radius: 32px;
}

.main-avatar-container {
  text-align: center;
  background-color: black;
  padding: 10px;
}

.notifications {
  
  .notification {
    height: 42px;
    padding: 5px;
    list-style: none;
    
    .description, .delete-notification {
      display: block;
      padding: 5px;
      height: 32px;
      clear: none;
      margin-left: 32px;
    }
    
    .description {
      margin-right: 20px;
    }
  }
}
  
.count {
  background-color: red;
  min-width: 20px;
  border-radius: 12px;
  display: inline-block;
  text-align: center;
}
